			<script src="__STATIC__/index/js/jquery-2.1.4.min.js"></script>
	<script src="__STATIC__/index/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="__STATIC__/index/js/excanvas.min.js"></script>
		<![endif]-->
		<script src="__STATIC__/index/js/jquery-ui.custom.min.js"></script>
		<script src="__STATIC__/index/js/jquery.ui.touch-punch.min.js"></script>
		<script src="__STATIC__/index/js/jquery.easypiechart.min.js"></script>
		<script src="__STATIC__/index/js/jquery.sparkline.index.min.js"></script>
		<script src="__STATIC__/index/js/jquery.flot.min.js"></script>
		<script src="__STATIC__/index/js/jquery.flot.pie.min.js"></script>
		<script src="__STATIC__/index/js/jquery.flot.resize.min.js"></script>

		<!-- ace scripts -->
		<script src="__STATIC__/index/js/ace-elements.min.js"></script>
		<script src="__STATIC__/index/js/ace.min.js"></script>

		<!-- page specific plugin scripts -->
		<script src="__STATIC__/index/js/jquery.dataTables.min.js"></script>
		<script src="__STATIC__/index/js/jquery.dataTables.bootstrap.min.js"></script>
		<script src="__STATIC__/index/js/dataTables.buttons.min.js"></script>
		<script src="__STATIC__/index/js/buttons.flash.min.js"></script>
		<script src="__STATIC__/index/js/buttons.html5.min.js"></script>
		<script src="__STATIC__/index/js/buttons.print.min.js"></script>
		<script src="__STATIC__/index/js/buttons.colVis.min.js"></script>
		<script src="__STATIC__/index/js/dataTables.select.min.js"></script>

{load href="__STATIC__/admin/js/common.js" /}


{load href="__STATIC__/admin/uploadify/jquery.uploadify.js" /}
{load href="__STATIC__/admin/js/image.js" /}
		
<script type="text/javascript" src="__STATIC__/admin/hui/lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/hui/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/jquery.validate.min.js"></script> 
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/admin/hui/lib/jquery.validation/1.14.0/messages_zh.min.js"></script>  

<script type="text/javascript" src="__STATIC__/admin/hui/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/common.js"></script>

		
